body {
	height: 100%;
	display: flex;
	flex-direction: row;
}

body > nav {
	flex: 1 0 auto;
	width: 200px;
	height: 1000px;
	display: flex;
	flex-direction: column;
	background-color: tomato;
}

nav > page {
	flex-shrink: 0;
	flex-grow: 1;
	height: 50px;
	border: 4px black;
	text-align: center;
}

body > main {
	flex: 2 0 auto;
	display: flex;
	flex-direction: column;
}

main > content {
	flex: 1 0 auto;
	background-color: DodgerBlue;
}

main > footer {
	flex-shrink: 0;
	background-color: green;
	height: 100%;
}
