html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: row;
}

body > nav {
	flex: 1 0 200px;
	display: flex;
	flex-direction: column;
	background-color: #101010;
	opacity: 0.3;
	height: 100%;
}

nav > page {
	flex: 1 0 auto;
	background-color: #240000;
	opacity: 0.3;
	height: 50px;
	text-align: center;
}

body > main {
	flex: 2 0 auto;
	display: flex;
	flex-direction: column;
}

main > content {
	flex: 1 0 auto;
	background-color: #000024;
}

main > footer {
	flex-shrink: 0;
	background-color: #002400;
	opacity: 0.3;
	height: 100%;
}
