body {
	overflow: scrolling;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

sidebar {
	position: absolute;
	width: 200px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	background-color: tomato;
}

body > topbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	background-color: pink;
}

sidebar, topbar > form button.pagebutton {
	flex-shrink: 0;
	height: 50px;
	border-radius: 20%;
	text-align: center;
	background-color: gold;
}

sidebar > form button.pagebutton {
	width: 100%;
}

topbar > form button.pagebutton {
	margin-left: 10px;
	margin-right: 10px;
	width: 150px;
}

form button.sidebar {
	position: sticky;
	width: 50px;
	height: 50px;
	margin-left: 0;
	margin-top: 0;
}

topbar > form button.logobutton {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: url(/Try-N2/site/images/KnowledgeShooter_logo.png);
	background-size: 50px 50px;
}

body > content {
	flex: 1 0 auto;
	background-color: DodgerBlue;
}

body > footer {
	flex-shrink: 0;
	background-color: green;
	text-align: center;
}
