	/* PAGE LEVEL */

html, body {
	margin: 0;
	padding: 0;
}

body {
	overflow: scrolling;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

     /* --------------- */
       /* CONTAINER LEVEL */

sidebar {
	position: fixed;
	width: 0px;
	height: 100vh;
	transition: width 0.7s;
	z-index: 1;
	display: flex;
	flex-direction: column;
	background-color: tomato;
}

body > topbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	background-color: pink;
}

body > footer {
	flex-shrink: 0;
	background-color: green;
	text-align: center;
}

body > content {
	flex: 1 0 auto;
	background-color: DodgerBlue;
}

     /* --------------- */
	/* SIDEBAR LEVEL */

sidebar > dropdown {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	width: 100%;
	height: 50px;
	background-color: DodgerBlue;
}

dropdown > button#dropbutton {
	width: 100%;
	height: 50px;
}

sidebar > form button.pagebutton, topbar > form button.pagebutton {
	flex-shrink: 0;
	height: 50px;
	border-radius: 20%;
	text-align: center;
	background-color: gold;
}

sidebar > form button.pagebutton {
	width: 100%;
}

button.sidebar {
	position: fixed;
	z-index: 1;
	left: 0px;
	transition: left 0.7s;
	width: 50px;
	height: 50px;
	background-image: url("/Try-N2/site/images/menu.png");
	background-color: transparent;
	background-size: 50px 50px;
	border-radius: 30%;
	border: none;
}

     /* --------------- */
	/* TOPBAR LEVEL */

topbar > form button.pagebutton {
	margin-left: 10px;
	margin-right: 10px;
	width: 150px;
}

topbar > form button.logobutton {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	background-image: url("/Try-N2/site/images/KnowledgeShooter_logo.png");
	background-size: 50px 50px;
}
